.logo {
  height: 60px;
  width: 60px;
}
.nav-item > .nav-link {
  color: rgb(0 0 0 / 75%);
  font-weight: 500;
  margin: 0 10px;
}

// .nav-link:hover,
// .nav-link.active {
//   border-bottom: 2px solid rgb(0 0 0 / 75%);
// }
